






#Intro {
    display: block;
}

#startbtn {
    display: block;
}

#Quiz {
    display: none;
}

#QuizEnd {
    display: none;
}

#initials {
    display: none;
}

#submitbtn {
    display: none;
}

#highScore {
    display: none;
}